/* Regular */
@font-face {
    font-family: 'Gill Sans';
    src: url('../../assets/fonts/GillSans/Gill Sans.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Italic */
@font-face {
    font-family: 'Gill Sans';
    src: url('../../assets/fonts/GillSans/Gill Sans Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Light */
@font-face {
    font-family: 'Gill Sans';
    src: url('../../assets/fonts/GillSans/Gill Sans Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Light Italic */
@font-face {
    font-family: 'Gill Sans';
    src: url('../../assets/fonts/GillSans/Gill Sans Light Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Medium */
@font-face {
    font-family: 'Gill Sans';
    src: url('../../assets/fonts/GillSans/Gill Sans Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Medium Italic */
@font-face {
    font-family: 'Gill Sans';
    src: url('../../assets/fonts/GillSans/Gill Sans Medium Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'Gill Sans';
    src: url('../../assets/fonts/GillSans/Gill Sans Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Bold Italic */
@font-face {
    font-family: 'Gill Sans';
    src: url('../../assets/fonts/GillSans/Gill Sans Bold Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Heavy */
@font-face {
    font-family: 'Gill Sans';
    src: url('../../assets/fonts/GillSans/Gill Sans Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Heavy Italic */
@font-face {
    font-family: 'Gill Sans';
    src: url('../../assets/fonts/GillSans/Gill Sans Heavy Italic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* Condensed */
@font-face {
    font-family: 'Gill Sans Condensed';
    src: url('../../assets/fonts/GillSans/GillSans Condensed.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Condensed Bold */
@font-face {
    font-family: 'Gill Sans Condensed';
    src: url('../../assets/fonts/GillSans/GillSans Condensed Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/*
    -----------------------------------------------------
    -------------------- AVENIR FONT --------------------
    -----------------------------------------------------
*/


/* Light */
@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir/Avenir Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Regular */
@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir/Avenir Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Heavy */
@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir/Avenir Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Black */
@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir/Avenir Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}