.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  color: var(--text-primary);
  cursor: pointer;
  border-radius: 50%;
  background: var(--bg-primary);

  justify-content: center;

  box-shadow:
    6px 6px 12px var(--shadow-dark),
    -6px -6px 12px var(--shadow-light);

  transition: box-shadow 0.25s ease-in-out, transform 0.2s ease-in-out;
  border: none;

  &:hover {
    transform: scale(0.85);
    box-shadow:
      8px 8px 16px rgba(163, 177, 198, 0.7),
      -8px -8px 16px rgba(255, 255, 255, 1);
  }

  &:active {
    transform: translateY(0) scale(0.98);
    box-shadow:
      inset 4px 4px 8px rgba(163, 177, 198, 0.6),
      inset -4px -4px 8px rgba(255, 255, 255, 0.9);
  }

  .icon {
    font-size: 1rem;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    animation: float 3s ease-in-out infinite;
  }
}