@use '../../styles/abstracts/neumorphism' as neu;

.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.65rem;
  color: var(--text-primary);
  cursor: pointer;
  border-radius: 50%;

  @include neu.neu-button();

  &:hover {
    @include neu.neu-button-hover();
  }

  &:active {
    @include neu.neu-button-active();
  }

  .icon {
    font-size: 1rem;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  }
}
